.body {
    box-sizing: border-box;
}

.container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(6, 50px);
    grid-gap: 10px;
    width: 90%;
    margin: 50px auto;
    padding: 40px;
    background-color: mistyrose;
    border-radius: 20px;
}

.itemlayar {
    background-color: white;
    display: grid;
    grid-column: span 6;
    grid-row: span 2;
    text-align: right;
    font-family: sans-serif;
    font-size: 40px;
    padding-right: 40px;
    color: black;
    border-radius: 20px;
}

.itemequal,
.itemreset,
.item0 {
    /* background-color: cyan; */
    grid-column: span 2;
}

.operasi {
    background-color: #a1a1a1;
}

.itemtambah {
    grid-row: span 2;
}

.btn {
    font-size: 20px;
    border-radius: 10px;
}

.itemmodulus {
    font-size: 15px;
    border-radius: 10px;
}